@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i");
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@font-face{
    font-family: Tesla;
    src: url(fonts/TESLA.ttf);
}

@font-face{
    font-family: Gotham Meduim;
    src: url(fonts/Gotham.ttf);
}

#home{
    width: 100vw;
    height: 100vh;
}
.background-image{
    width: 100vw;
    height: 100vh;
}
#logo{
    font-size: 26pt;
    position: absolute;
    top: 15px;
    left: 10px;
    color: #d32f2f;
    text-transform: uppercase;
    font-family: Tesla;
    font-weight: 700;
    z-index: 1;
    cursor: pointer;

}
#sublogo{
    color: #388e3c;
}

.menu-btn{
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}

.btn-line{
    width: 30px;
    height: 4px;
    margin: 0 0 5px 0;
    background: #3426ae;
    border-radius: 1px;
    transition: all 1s ease-out; 
    z-index: 1;
}

.side-wrapper{
    background: #ffff;  
    float: right;
    position: fixed;
    right:0;
    width: 18%;
    height: 100vh;
    color: #000;
    /* transform: translateX(100%);  */
    /* transition: transform 700ms; */
    display: none;
}

#side-wrapper-item li{
   list-style: none;
   text-align: center;
   cursor: pointer;
   text-transform: uppercase;
   font-weight: 600;
   font-family:  Helvetica, sans-serif;
   margin-top: 50px;
 
}
#side-wrapper-item li a{
    color: #000;
 }

#side-wrapper-item li a:hover{
    color: green;
 }

.btn-close{
    float: right;
    position: fixed;
    cursor: pointer;
    transition: all 1s ease-in; 
    display:none;
}

.btn-line-close{
    background: black;
    border-radius: 1px;
    transition: all 1s ease-in; 
    z-index: 1;  

}

#consultation{
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 25vh;
    font-family: Gotham;
    font-weight: 600;
    font-size: 18pt;
    color: black;
    font-style: italic;
}
.service-categories{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
 v-btn:hover{
   color: red !important;
}

#service-item{
    margin-top: 10px;
    color: #ffff;
    padding: 10px;
    margin-right: 10px;
    list-style: none;
}



.close-btn.activate {
    transform: rotate(180deg); 
}
.btn-close.activate .btn-line-close:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px); 
} 

.btn-close.activate .btn-line-close:nth-child(2){
    opacity: 0;
}

.btn-close.activate .btn-line-close:nth-child(3){
    transform: rotate(-45deg) translate(8px, -7px); 
}





.menu-btn.activate {
    transform: rotate(180deg); 
}
.menu-btn.activate .btn-line:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px); 
} 

.menu-btn.activate .btn-line:nth-child(2){
    opacity: 0;
}

.menu-btn.activate .btn-line:nth-child(3){
    transform: rotate(-45deg) translate(8px, -7px); 
}

.close{
    display: none;
}

.open{
    display: block;
    transform: translateX(0);
   
}

.show-cross {
    display: block;
}


/* SERVICE ITEMS */
.service-items{
    text-transform: uppercase;
    display: inline-flex;
    float: right;
    /* background: green; */
    font-weight: normal;
    /* opacity: 0.5; */
}

#service-item li{
list-style: none;
}

#service-item:hover{
 color: #3426ae;
 cursor: pointer;
}

.category-items{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.category-items li{ 
  margin-right: 10px;
  background: #000;
  opacity: 0.8;
  border: solid #ffff 2px;
  color: #ffff;
  padding: 7px;
  border-radius: 8px;

}

.category-items li:hover{ 
    background: transparent;
    color: black;
    cursor: pointer;
    transition: 1.5s;
    border: solid #000 2px;
  }


/* MEDIA QUERIES */

@media(max-width: 1024px){
    .service-items{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #service-item:nth-child(1){
        margin-top: 70px;

    }
}

@media(max-width: 768px){
    .category-items{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .category-items li{ 
        margin-bottom: 15px;
      
      }
      .service-items{
        display: none;
    }

}

/* SERVICES CSS*/
